// TOP
.top-0 {
  top: 0px;
}
.top-1 {
  top: 0.25rem;
}
.top-2 {
  top: 0.5rem;
}
.top-3 {
  top: 0.75rem;
}
.top-4 {
  top: 1rem;
}
.top-5 {
  top: 1.25rem;
}
.top-6 {
  top: 1.5rem;
}
.top-7 {
  top: 1.75rem;
}
.top-8 {
  top: 2rem;
}
.top-9 {
  top: 2.25rem;
}
.top-10 {
  top: 2.5rem;
}
.top-11 {
  top: 2.75rem;
}
.top-12 {
  top: 3rem;
}
.top-14 {
  top: 3.5rem;
}
.top-16 {
  top: 4rem;
}
.top-20 {
  top: 5rem;
}
.top-24 {
  top: 6rem;
}
.top-27 {
  top: 6.75rem;
}
.top-28 {
  top: 7rem;
}
.top-32 {
  top: 8rem;
}
.top-36 {
  top: 9rem;
}
.top-40 {
  top: 10rem;
}
.top-42 {
  top: 10.5rem;
}
.top-44 {
  top: 11rem;
}
.top-48 {
  top: 12rem;
}
.top-52 {
  top: 13rem;
}
.top-56 {
  top: 14rem;
}
.top-60 {
  top: 15rem;
}
.top-64 {
  top: 16rem;
}
.top-68 {
  top: 17rem;
}
.top-72 {
  top: 18rem;
}
.top-76 {
  top: 19rem;
}
.top-80 {
  top: 20rem;
}
.top-84 {
  top: 21rem;
}
.top-88 {
  top: 22rem;
}
.top-92 {
  top: 23rem;
}
.top-96 {
  top: 24rem;
}
.top-100 {
  top: 25rem;
}
.top-108 {
  top: 27rem;
}
.top-116 {
  top: 29rem;
}
.top-124 {
  top: 31rem;
}

// Left
.left-1 {
  left: 0.25rem;
}
.left-2 {
  left: 0.5rem;
}
.left-3 {
  left: 0.75rem;
}
.left-4 {
  left: 1rem;
}
.left-5 {
  left: 1.25rem;
}
.left-6 {
  left: 1.5rem;
}
.left-7 {
  left: 1.75rem;
}
.left-8 {
  left: 2rem;
}
.left-9 {
  left: 2.25rem;
}
.left-10 {
  left: 2.5rem;
}
.left-11 {
  left: 2.75rem;
}
.left-12 {
  left: 3rem;
}
.left-14 {
  left: 3.5rem;
}
.left-16 {
  left: 4rem;
}
.left-20 {
  left: 5rem;
}
.left-24 {
  left: 6rem;
}
.left-28 {
  left: 7rem;
}
.left-32 {
  left: 8rem;
}
.left-36 {
  left: 9rem;
}
.left-40 {
  left: 10rem;
}
.left-42 {
  left: 10.5rem;
}
.left-44 {
  left: 11rem;
}
.left-48 {
  left: 12rem;
}
.left-52 {
  left: 13rem;
}
.left-56 {
  left: 14rem;
}
.left-60 {
  left: 15rem;
}
.left-64 {
  left: 16rem;
}
.left-68 {
  left: 17rem;
}
.left-72 {
  left: 18rem;
}
.left-76 {
  left: 19rem;
}
.left-80 {
  left: 20rem;
}
.left-84 {
  left: 21rem;
}
.left-88 {
  left: 22rem;
}
.left-92 {
  left: 23rem;
}
.left-96 {
  left: 24rem;
}
.left-100 {
  left: 25rem;
}
.left-108 {
  left: 27rem;
}
.left-116 {
  left: 29rem;
}
.left-124 {
  left: 31rem;
}
// RIGHT
.right-1 {
  right: 0.25rem;
}
.right-2 {
  right: 0.5rem;
}
.right-3 {
  right: 0.75rem;
}
.right-4 {
  right: 1rem;
}
.right-5 {
  right: 1.25rem;
}
.right-6 {
  right: 1.5rem;
}
.right-7 {
  right: 1.75rem;
}
.right-8 {
  right: 2rem;
}
.right-9 {
  right: 2.25rem;
}
.right-10 {
  right: 2.5rem;
}
.right-11 {
  right: 2.75rem;
}
.right-12 {
  right: 3rem;
}
.right-14 {
  right: 3.5rem;
}
.right-16 {
  right: 4rem;
}
.right-20 {
  right: 5rem;
}
.right-24 {
  right: 6rem;
}
.right-28 {
  right: 7rem;
}
.right-32 {
  right: 8rem;
}
.right-36 {
  right: 9rem;
}
.right-40 {
  right: 10rem;
}
.right-42 {
  right: 10.5rem;
}
.right-44 {
  right: 11rem;
}
.right-48 {
  right: 12rem;
}
.right-52 {
  right: 13rem;
}
.right-56 {
  right: 14rem;
}
.right-60 {
  right: 15rem;
}
.right-64 {
  right: 16rem;
}
.right-68 {
  right: 17rem;
}
.right-72 {
  right: 18rem;
}
.right-76 {
  right: 19rem;
}
.right-80 {
  right: 20rem;
}
.right-84 {
  right: 21rem;
}
.right-88 {
  right: 22rem;
}
.right-92 {
  right: 23rem;
}
.right-96 {
  right: 24rem;
}
.right-100 {
  right: 25rem;
}
.right-108 {
  right: 27rem;
}
.right-116 {
  right: 29rem;
}
.right-124 {
  right: 31rem;
}

.bottom-0 {
  bottom: 0;
}
.bottom-1 {
  bottom: 0.25rem;
}
.bottom-2 {
  bottom: 0.5rem;
}
.bottom-3 {
  bottom: 0.75rem;
}
.bottom-4 {
  bottom: 1rem;
}
.bottom-5 {
  bottom: 1.25rem;
}
.bottom-6 {
  bottom: 1.5rem;
}
.bottom-7 {
  bottom: 1.75rem;
}
.bottom-8 {
  bottom: 2rem;
}
.bottom-9 {
  bottom: 2.25rem;
}
.bottom-10 {
  bottom: 2.5rem;
}
.bottom-11 {
  bottom: 2.75rem;
}
.bottom-12 {
  bottom: 3rem;
}
.bottom-14 {
  bottom: 3.5rem;
}
.bottom-16 {
  bottom: 4rem;
}
.bottom-20 {
  bottom: 5rem;
}
.bottom-24 {
  bottom: 6rem;
}
.bottom-28 {
  bottom: 7rem;
}
.bottom-32 {
  bottom: 8rem;
}
.bottom-36 {
  bottom: 9rem;
}
.bottom-40 {
  bottom: 10rem;
}
.bottom-42 {
  bottom: 10.5rem;
}
.bottom-44 {
  bottom: 11rem;
}
.bottom-48 {
  bottom: 12rem;
}
.bottom-52 {
  bottom: 13rem;
}
.bottom-56 {
  bottom: 14rem;
}
.bottom-60 {
  bottom: 15rem;
}
.bottom-64 {
  bottom: 16rem;
}
.bottom-68 {
  bottom: 17rem;
}
.bottom-72 {
  bottom: 18rem;
}
.bottom-76 {
  bottom: 19rem;
}
.bottom-80 {
  bottom: 20rem;
}
.bottom-84 {
  bottom: 21rem;
}
.bottom-88 {
  bottom: 22rem;
}
.bottom-92 {
  bottom: 23rem;
}
.bottom-96 {
  bottom: 24rem;
}
.bottom-100 {
  bottom: 25rem;
}
.bottom-108 {
  bottom: 27rem;
}
.bottom-116 {
  bottom: 29rem;
}
.bottom-124 {
  bottom: 31rem;
}
