.modal--auth-layout {
  animation: animationModalAuth 1s ease-out;
}
.background--layout-left {
  animation: animationBackground 1500ms ease-in-out;
}
.background--layout-right {
  background-color: '#F5F5F5';
  @media screen and (max-width: 1280px) {
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    animation: animationBackgroundRight 1s;
  }
  @keyframes animationBackgroundRight {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.btn-sign {
  &:hover {
    background-color: rgb(251, 146, 60);
  }
  &:active {
    background-color: rgb(234, 88, 12);
  }
}
@keyframes animationBackground {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes animationModalAuth {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.layout--left {
  width: 50%;
}
.layout--right {
  width: 50%;
  &--content {
    width: 60%;
  }
}
@media screen and (max-width: 1280px) {
  .layout--left {
    display: none;
    width: 0;
  }
  .layout--right {
    width: 100%;
    &--content {
      width: 60%;
    }
  }
}

@media screen and (max-width: 640px) {
  .layout--right {
    &--content {
      width: 90%;
    }
  }
}
