.border-black {
  border-color: rgb(0, 0, 0);
}

.border-gray-50 {
  border-color: rgb(249, 250, 251);
}
.border-gray-100 {
  border-color: rgb(243, 244, 246);
}
.border-gray-200 {
  border-color: rgb(229, 231, 235);
}
.border-gray-300 {
  border-color: rgb(209, 213, 219);
}
.border-gray-400 {
  border-color: rgb(156, 163, 175);
}
.border-gray-500 {
  border-color: rgb(107, 114, 128);
}
.border-gray-600 {
  border-color: rgb(75, 85, 99);
}
.border-gray-700 {
  border-color: rgb(55, 65, 81);
}
.border-gray-800 {
  border-color: rgb(31, 41, 55);
}
.border-gray-900 {
  border-color: rgb(17, 24, 39);
}
