.border-black {
  border-color: rgb(0, 0, 0);
}
.border-white {
  border-color: rgb(255, 255, 255);
}

.border-gray-50 {
  border-color: rgb(249, 250, 251);
}
.border-gray-100 {
  border-color: rgb(243, 244, 246);
}
.border-gray-200 {
  border-color: rgb(229, 231, 235);
}
.border-gray-300 {
  border-color: rgb(209, 213, 219);
}
.border-gray-400 {
  border-color: rgb(156, 163, 175);
}
.border-gray-500 {
  border-color: rgb(107, 114, 128);
}
.border-gray-600 {
  border-color: rgb(75, 85, 99);
}
.border-gray-700 {
  border-color: rgb(55, 65, 81);
}
.border-gray-800 {
  border-color: rgb(31, 41, 55);
}
.border-gray-900 {
  border-color: rgb(17, 24, 39);
}

.border-orange-50 {
  border-color: rgb(255, 247, 237);
}
.border-orange-100 {
  border-color: rgb(255, 237, 213);
}
.border-orange-200 {
  border-color: rgb(254, 215, 170);
}
.border-orange-300 {
  border-color: rgb(253, 186, 116);
}
.border-orange-400 {
  border-color: rgb(251, 146, 60);
}
.border-orange-500 {
  border-color: rgb(249, 115, 22);
}
.border-orange-600 {
  border-color: rgb(234, 88, 12);
}
.border-orange-700 {
  border-color: rgb(194, 65, 12);
}
.border-orange-800 {
  border-color: rgb(154, 52, 18);
}
.border-orange-900 {
  border-color: rgb(124, 45, 12);
}
