.h-1 {
  height: 0.25rem;
}
.h-2 {
  height: 0.5rem;
}
.h-3 {
  height: 0.75rem;
}
.h-4 {
  height: 1rem;
}
.h-5 {
  height: 1.25rem;
}
.h-6 {
  height: 1.5rem;
}
.h-7 {
  height: 1.75rem;
}
.h-8 {
  height: 2rem;
}
.h-9 {
  height: 2.25rem;
}
.h-10 {
  height: 2.5rem;
}
.h-11 {
  height: 2.75rem;
}
.h-12 {
  height: 3rem;
}
.h-14 {
  height: 3.5rem;
}
.h-16 {
  height: 4rem;
}
.h-20 {
  height: 5rem;
}
.h-24 {
  height: 6rem;
}
.h-28 {
  height: 7rem;
}
.h-32 {
  height: 8rem;
}
.h-36 {
  height: 9rem;
}
.h-40 {
  height: 10rem;
}
.h-42 {
  height: 10.5rem;
}
.h-44 {
  height: 11rem;
}
.h-48 {
  height: 12rem;
}
.h-52 {
  height: 13rem;
}
.h-56 {
  height: 14rem;
}
.h-60 {
  height: 15rem;
}
.h-64 {
  height: 16rem;
}
.h-68 {
  height: 17rem;
}
.h-72 {
  height: 18rem;
}
.h-76 {
  height: 19rem;
}
.h-80 {
  height: 20rem;
}
.h-84 {
  height: 21rem;
}
.h-88 {
  height: 22rem;
}
.h-92 {
  height: 23rem;
}
.h-96 {
  height: 24rem;
}
.h-100 {
  height: 25rem;
}
.h-116 {
  height: 29rem;
}
.h-124 {
  height: 31rem;
}

.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-min {
  height: min-content;
}
.h-max {
  height: max-content;
}
.h-fit {
  height: fit-content;
}
.h-1\/2 {
  height: 50%;
}
.h-1\/3 {
  height: 33.333333%;
}
.h-2\/3 {
  height: 66.666667%;
}
.h-1\/4 {
  height: 25%;
}
.h-2\/4 {
  height: 50%;
}
.h-3\/4 {
  height: 75%;
}
.h-1\/5 {
  height: 20%;
}
.h-2\/5 {
  height: 40%;
}
.h-3\/5 {
  height: 60%;
}
.h-4\/5 {
  height: 80%;
}
.h-1\/6 {
  height: 16.666667%;
}
.h-2\/6 {
  height: 33.333333%;
}
.h-3\/6 {
  height: 50%;
}
.h-4\/6 {
  height: 66.666667%;
}
.h-5\/6 {
  height: 83.333333%;
}

//MIN HEIGHT
.min-h-0 {
  min-height: 0px;
}
.min-h-full {
  min-height: 100%;
}
.min-h-min {
  min-height: min-content;
}
.min-h-max {
  min-height: max-content;
}
.min-h-fit {
  min-height: fit-content;
}
//MAX WIDTH
.max-h-0 {
  max-height: 0rem;
}
.max-h-none {
  max-height: none;
}
.max-h-xs {
  max-height: 20rem;
}
.max-h-sm {
  max-height: 24rem;
}
.max-h-md {
  max-height: 28rem;
}
.max-h-lg {
  max-height: 32rem;
}
.max-h-xl {
  max-height: 36rem;
}
.max-h-2xl {
  max-height: 42rem;
}
.max-h-3xl {
  max-height: 48rem;
}
.max-h-4xl {
  max-height: 56rem;
}
.max-h-5xl {
  max-height: 64rem;
}
.max-h-6xl {
  max-height: 72rem;
}
.max-h-7xl {
  max-height: 80rem;
}
.max-h-full {
  max-height: 100%;
}
.max-h-min {
  max-height: min-content;
}
.max-h-max {
  max-height: max-content;
}
.max-h-fit {
  max-height: fit-content;
}
.max-h-prose {
  max-height: 65ch;
}
.max-h-screen-sm {
  max-height: 640px;
}
.max-h-screen-md {
  max-height: 768px;
}
.max-h-lg {
  max-height: 1024px;
}
.max-h-screen-xl {
  max-height: 1280px;
}
.max-h-screen-2xl {
  max-height: 1536px;
}
