p-0 {
  padding: 0px;
}
px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
ps-0 {
  padding-inline-start: 0px;
}
pe-0 {
  padding-inline-end: 0px;
}
pt-0 {
  padding-top: 0px;
}
pb-0 {
  padding-bottom: 0px;
}
pr-0 {
  padding-right: 0px;
}
pl-0 {
  padding-left: 0px;
}
