.space-x-1 > * + * {
  margin-left: 0.25rem;
}
.space-x-2 > * + * {
  margin-left: 0.5rem;
}
.space-x-3 > * + * {
  margin-left: 0.75rem;
}
.space-x-4 > * + * {
  margin-left: 1rem;
}
.space-x-5 > * + * {
  margin-left: 1.25rem;
}
.space-x-6 > * + * {
  margin-left: 1.5rem;
}
.space-x-7 > * + * {
  margin-left: 1.75rem;
}
.space-x-8 > * + * {
  margin-left: 2rem;
}
.space-x-9 > * + * {
  margin-left: 2.25rem;
}
.space-x-10 > * + * {
  margin-left: 2.5rem;
}
.space-x-11 > * + * {
  margin-left: 2.75rem;
}
.space-x-12 > * + * {
  margin-left: 3rem;
}
.space-x-14 > * + * {
  margin-left: 3.5rem;
}
.space-x-16 > * + * {
  margin-left: 4rem;
}
.space-x-20 > * + * {
  margin-left: 5rem;
}
.space-x-24 > * + * {
  margin-left: 6rem;
}
.space-x-28 > * + * {
  margin-left: 7rem;
}
.space-x-32 > * + * {
  margin-left: 8rem;
}
.space-x-36 > * + * {
  margin-left: 9rem;
}
.space-x-40 > * + * {
  margin-left: 10rem;
}
.space-x-44 > * + * {
  margin-left: 11rem;
}
.space-x-48 > * + * {
  margin-left: 12rem;
}
.space-x-52 > * + * {
  margin-left: 13rem;
}
.space-x-56 > * + * {
  margin-left: 14rem;
}
.space-x-60 > * + * {
  margin-left: 15rem;
}
.space-x-64 > * + * {
  margin-left: 16rem;
}
.space-x-68 > * + * {
  margin-left: 17rem;
}
.space-x-72 > * + * {
  margin-left: 18rem;
}
.space-x-76 > * + * {
  margin-left: 19rem;
}
.space-x-80 > * + * {
  margin-left: 20rem;
}
.space-x-84 > * + * {
  margin-left: 21rem;
}
.space-x-88 > * + * {
  margin-left: 22rem;
}
.space-x-92 > * + * {
  margin-left: 23rem;
}
.space-x-96 > * + * {
  margin-left: 24rem;
}
.space-x-100 > * + * {
  margin-left: 25rem;
}

.space-y-1 > * + * {
  margin-top: 0.25rem;
}
.space-y-2 > * + * {
  margin-top: 0.5rem;
}
.space-y-3 > * + * {
  margin-top: 0.75rem;
}
.space-y-4 > * + * {
  margin-top: 1rem;
}
.space-y-5 > * + * {
  margin-top: 1.25rem;
}
.space-y-6 > * + * {
  margin-top: 1.5rem;
}
.space-y-7 > * + * {
  margin-top: 1.75rem;
}
.space-y-8 > * + * {
  margin-top: 2rem;
}
.space-y-9 > * + * {
  margin-top: 2.25rem;
}
.space-y-10 > * + * {
  margin-top: 2.5rem;
}
.space-y-11 > * + * {
  margin-top: 2.75rem;
}
.space-y-12 > * + * {
  margin-top: 3rem;
}
.space-y-14 > * + * {
  margin-top: 3.5rem;
}
.space-y-16 > * + * {
  margin-top: 4rem;
}
.space-y-20 > * + * {
  margin-top: 5rem;
}
.space-y-24 > * + * {
  margin-top: 6rem;
}
.space-y-28 > * + * {
  margin-top: 7rem;
}
.space-y-32 > * + * {
  margin-top: 8rem;
}
.space-y-36 > * + * {
  margin-top: 9rem;
}
.space-y-40 > * + * {
  margin-top: 10rem;
}
.space-y-44 > * + * {
  margin-top: 11rem;
}
.space-y-48 > * + * {
  margin-top: 12rem;
}
.space-y-52 > * + * {
  margin-top: 13rem;
}
.space-y-56 > * + * {
  margin-top: 14rem;
}
.space-y-60 > * + * {
  margin-top: 15rem;
}
.space-y-64 > * + * {
  margin-top: 16rem;
}
.space-y-68 > * + * {
  margin-top: 17rem;
}
.space-y-72 > * + * {
  margin-top: 18rem;
}
.space-y-76 > * + * {
  margin-top: 19rem;
}
.space-y-80 > * + * {
  margin-top: 20rem;
}
.space-y-84 > * + * {
  margin-top: 21rem;
}
.space-y-88 > * + * {
  margin-top: 22rem;
}
.space-y-92 > * + * {
  margin-top: 23rem;
}
.space-y-96 > * + * {
  margin-top: 24rem;
}
.space-y-100 > * + * {
  margin-top: 25rem;
}
