.text-red-100{
    color: rgb(254 226 226);
}	
.text-red-200{
    color: rgb(254 202 202);
}	
.text-red-300{
    color: rgb(252 165 165);
}	
.text-red-400{
    color: rgb(248 113 113);
}	
.text-red-500{
    color: rgb(239 68 68);
}	
.text-red-600	{
    color: rgb(220 38 38);
}
.text-red-700{
    color: rgb(185 28 28);
}
.text-red-800{
	
    color: rgb(153 27 27);
}
.text-red-900{
    color: rgb(127 29 29);
}	
.text-red-950{
    color: rgb(69 10 10);
}
.text-orange-50{
    color: rgb(255 247 237);
}
.text-orange-100{
    color: rgb(255 237 213);
}	
.text-orange-200{
    color: rgb(254 215 170);
}
.text-orange-300{
    color: rgb(253 186 116);
}
.text-orange-400{
    color: rgb(251 146 60);
}
.text-orange-500{
    color: rgb(249 115 22);
}
.text-orange-600{

    color: rgb(234 88 12);
}
.text-orange-700{
    color: rgb(194 65 12);
}	
.text-orange-800{
    color: rgb(154 52 18);
}
.text-orange-900{
    color: rgb(124 45 18);
}
.text-orange-950{
    color: rgb(67 20 7);
}	
.text-amber-50	{
    color: rgb(255 251 235);
}
.text-amber-100	{
    color: rgb(254 243 199);
}
.text-amber-200	{
    color: rgb(253 230 138);
}
.text-amber-300	{
    color: rgb(252 211 77);
}
.text-amber-400	{
    color: rgb(251 191 36);
}
.text-amber-500	{

    color: rgb(245 158 11);
}
.text-amber-600	{
    color: rgb(217 119 6);
}
.text-amber-700	{
    color: rgb(180 83 9);
}

.text-amber-800	{
    color: rgb(146 64 14);
}
.text-amber-900	{
    color: rgb(120 53 15);
}
.text-yellow-100{
    color: rgb(254 249 195);
}	
.text-yellow-200{
    color: rgb(254 240 138);
}	
.text-yellow-300{
    color: rgb(253 224 71);
}	
.text-yellow-400{	
    color: rgb(250 204 21);
}
.text-yellow-500{
    color: rgb(234 179 8);
}	
.text-yellow-600{
    color: rgb(202 138 4);
}
.text-yellow-700{
    color: rgb(161 98 7);
}	
.text-yellow-800{
    color: rgb(133 77 14);
}	
.text-yellow-900{
    color: rgb(113 63 18);
}	