.search--value {
  transform: translateX(0);
  animation: searchValueAnimation 1000ms linear;
}
.cart--search:hover {
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.cart--item {
  transition: all 500ms linear;
}

@keyframes searchValueAnimation {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  5% {
    opacity: 0.5;
    filter: blur(5px);
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
  }
}
