.not-found {
    background-image: url(../../assets/images/not-found-background.png);
    background-size: cover;
}

.not-found-title {
    font-size: 5rem;
}

.fake-link:hover {
    text-decoration: underline;
}